* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* font-family:'Times New Roman', Times, serif; */
}
.d-flex {
    display: flex;
}

body {
    background-color: rgb(119, 46, 119);
}

.row {
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.card {
    width: 350px;
    height: 450px;
    padding: 20px;
}

.container {
    height: 800px;
    background-color: rgb(119, 46, 119);
}

img {
    height: 100%;
    width: 50%;
    border-radius: 50%;
    border: 5px solid rgb(119, 46, 119);
}

.img-box {
    height: 45%;
    width: 100%;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}

.text-box {
    height: 35%;
    padding: 20px;
    text-align: center;
}

.btn-box {
    text-align: center;
    height: 20%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 140px;
    height: 45px;
    border-radius: 5px;
}

.read-more {
    color: rgb(119, 46, 119);
    border: 2px solid rgb(119, 46, 119);
    transition: 1s;
}

.fa-solid {
    color: rgb(119, 46, 119);
}

.fa-regular {
    color: rgb(119, 46, 119);
}

.subscribe {
    color: white;
    background-color: rgb(119, 46, 119);
    transition: 1s;
}

h4 {
    color: rgb(119, 46, 119);
}

.subscribe:hover {
    color: rgb(119, 46, 119);
    border: 2px solid rgb(119, 46, 119);
    background-color: white;
    transition: 1s;
}

.read-more:hover {
    color: white;
    background-color: rgb(119, 46, 119);
    transition: 1s;
}